@inherits MaviButtonBase

<button id="@Id" class="@Class" style="@Style" @onclick="@OnClick" disabled="@Disabled" type="@Role" role="@Role" title="@Title" @attributes="AdditionalAttributes">
    <div><i class="@IconCss"></i></div>
    <div aria-label="@Title">@Title</div>
    <div><i class="@IconCss"></i></div>
</button>