@inherits MaviButtonBase

<button id="@Id" class="@Class" style="@Style" @onclick="@OnClick" disabled="@Disabled" type="@Role" role="@Role" title="@Title" @attributes="AdditionalAttributes">
    <i class="@Icon"></i>
</button>

@code {
    [Parameter] public string? Icon { get; set; }
}