@using System.Diagnostics.CodeAnalysis
@using Maviray.Blazor.Components.Core.Constants
@using Microsoft.Extensions.Logging
@inherits InputBase<string>

<div>
    @if (!string.IsNullOrEmpty(StartIcon))
    {
        <div><i class="@StartIcon"></i></div>
    }

    <input @bind="CurrentValue"
           @bind:event="oninput"
           type="@GetInputType()"
           id="@Id"
           placeholder="@Placeholder"
           maxlength="@MaxLength"
           disabled="@Disabled"
           readonly="@Readonly"
           class="@BuildInputClass()"
           aria-describedby="@GetAriaDescribedByString()"
           aria-invalid="@GetAreaInvalidValue()"
           required="@Required"
           aria-required="@Required.ToString().ToLowerInvariant()"
           @attributes="AdditionalAttributes" />

    @if (!string.IsNullOrEmpty(EndIcon))
    {
        <div><i class="@EndIcon"></i></div>
    }
</div>

@code {

    private ILogger? _logger;

    [Inject] private ILoggerFactory? LoggerFactory { get; set; }

    private ILogger? Logger => _logger ??= LoggerFactory?.CreateLogger(GetType());

    [Parameter] public virtual string? Id { get; set; } = $"input_{Guid.NewGuid()}";

    [Parameter] public string Width { get; set; } = "w-96";

    [Parameter] public string? Style { get; set; }

    [Parameter] public string? Title { get; set; }

    [Parameter] public ElementSize ElementSize { get; set; }

    protected bool HasRendered { get; private set; }

    [Parameter] public string Label { get; set; } = string.Empty;

    [Parameter] public string? Placeholder { get; set; }

    [Parameter] public string? StartIcon { get; set; }

    [Parameter] public string? EndIcon { get; set; }

    [Parameter] public bool ShowValidationMessage { get; set; } = true;

    [Parameter] public int MaxLength { get; set; } = FormatConstants.DEFAULT_MAX_STRING_INPUT_LIMIT;

    [Parameter] public bool Disabled { get; set; }

    [Parameter] public bool Readonly { get; set; }

    [Parameter] public bool Required { get; set; }

    // ReSharper disable once ConditionIsAlwaysTrueOrFalseAccordingToNullableAPIContract - outside of Form context EditContext can be null
    protected bool HasError => EditContext != null && EditContext.GetValidationMessages(FieldIdentifier).Any();

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);

        if (firstRender)
        {
            HasRendered = true;
        }
    }

    protected bool HasValue => !string.IsNullOrWhiteSpace(CurrentValue);

    [Parameter] public StringInputType StringInputType { get; set; }

    protected override bool TryParseValueFromString(string? value, [MaybeNullWhen(false)] out string result, [NotNullWhen(false)] out string? validationErrorMessage) => throw new NotImplementedException();

    private string GetInputType()
    {
        return StringInputType switch
        {
            StringInputType.Password => "password",
            StringInputType.Email => "email",
            StringInputType.Tel => "tel",
            StringInputType.Url => "url",
            StringInputType.Search => "search",
            _ => "text"
        };
    }

    private string BuildInputClass()
    {
        return string.Empty;
    }

    private string GetAriaDescribedByString()
    {
        return string.Empty;
    }

    private string GetAreaInvalidValue()
    {
        return string.Empty;
    }
}
