@inherits MaviButtonBase

<button id="@Id" class="@GetButtonClasses()" style="@Style" @onclick="@OnClick" disabled="@Disabled" type="@Role" role="@Role" title="@Title" @attributes="AdditionalAttributes">
    @if (!string.IsNullOrEmpty(StartIcon))
    {
        <i class="@StartIcon"></i>
    }
    @if (!string.IsNullOrEmpty(Title))
    {
        <span aria-label="@Title">@Title</span>
    }
    @if (!string.IsNullOrEmpty(EndIcon))
    {
        <i class="@EndIcon"></i>
    }
</button>

@code {

    [Parameter] public string Width { get; set; } = "min-w-16";

    [Parameter] public ButtonVariant ButtonVariant { get; set; }

    [Parameter]
    public string? StartIcon { get; set; }

    [Parameter]
    public string? EndIcon { get; set; }

    private string GetButtonClasses()
    {
        var baseClasses = CssConverter.GetButtonClass(ButtonVariant, ButtonType);
        var transformClass = CssConverter.GetTextTransformClass(TextTransform);
        var sizeClass = CssConverter.GetButtonSizeClass(ElementSize);
        var allClasses = $"{baseClasses} {transformClass} {sizeClass} {Width}";

        return string.IsNullOrEmpty(Class) ? allClasses : $"{allClasses} {Class}";
    }
}